# Database
SSL=sslmode=disable

DB_USER=postgres
DB_PASS=password

DEV_NAME=charity_dev
DEV_PORT=5434
PROD_NAME=charity_local
PROD_PORT=5433

DB_DEV_URL=postgres://${DB_USER}:${DB_PASS}@localhost:${DEV_PORT}/${DEV_NAME}?${SSL}
DB_PROD_URL=postgres://${DB_USER}:${DB_PASS}@localhost:${PROD_PORT}/${PROD_NAME}?${SSL}

# App
APP_PORT=1234

# JWT
JWT_SECRET=replace-me-with-a-generated-secret
